* {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
#instructions {
    width: 300px;
    min-height: 514px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    background-color: #666;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
#memory {
    width: 900px;
    background-color: #333;
    min-height: 400px;
    float: left;
}
#memory .memory_item {
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    min-height: 56px;
}
#memory .memory_item span {
    color: #CCC;
    font-size: 12px;
    font-weight: normal;
}
#memory .memory_item div {
    padding: 10px;
    color: #ccc;
    border-top: 1px solid #CCC;
    font-size: 11px;
}
.register {
    display: inline-block;
    width: 100%;
    margin: 40px 20px;
}
.register span {
    background-color: #CCC;
    padding: 10px;
}
button {
    padding: 20px;
    background-color: green;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
}
#console {
    width: 50%;
    height: 300px;
    background-color: #000;
    display: inline-block;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
}
#canvas {
    width: 50%;
    height: 300px;
    background-color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
